.som-result-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-color: blue;
    width: 500px;
    height: 500px;

    .loading-som-result-box {  
        text-align: center;
        width: 100%;
        height: 100%;
    }

    .image-som-result-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;

        .som-result-image {
            width: 100%;
            height: 100%;
        }
    }
}