.som-page-main {
    display: flex;
    width: 100vw;
    height: 90vh;

    .som-page-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        .som-page-title-container {
            font-size: 2rem;
        }

        .som-page-img-box {
            display: flex;
            width: 500px;
            height: 500px;

            .img {
                width: 100%;
                height: 100%;
                background-color: blue;
            }
        }
    }
    
}