<header>
    <app-nav />
</header>
<main class="fuzzy-page-main">
    <section class="fuzzy-page-container">
        <div class="fuzzy-page-title-container">
            <h1>
                Bem vindo à Classificação NeuroFuzzy / Fuzzy
            </h1>
        </div>
        <div class="fuzzy-page-img-box">
            <app-nf-results></app-nf-results>
        </div>
        <div class="fuzzy-button-box">
            <app-button (click)="onTrainNF()">Clique aqui para realizar NeuroFuzzy</app-button>
            <p>Obs: Pode demorar um pouco</p>
        </div>
    </section>
</main>

